# MongoDB Connection String
# Copy this file to .env.local and replace with your actual MongoDB connection string
MONGODB_URI=mongodb://localhost:27017

# For MongoDB Atlas, use this format:
# MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority

RESEND_API_KEY=re_bAh3jY8A_7o2X4AD32z3T1mG6NJttubE3
APP_URL=http://localhost:3000